<!doctype html>
<style>
    .tweet{
        height: 500px;

        overflow: auto;
    }
</style>


<html lang = "en">
    <head>
        <title>Sentiment Analysis</title>
        <style>
        ul { background-color: #524b6b;
            margin: 0;

            }
        
        </style>
    </head>
</html>

<ul>
    <h1 style="text-align:center">This site is for twitter sentiment analysis!!!</h1>
</ul>

<body style="background-position: center;">
    <button onclick="location.href = '{% url 'visualization' %}'">Download tweet</button><hr>

</body>




<!--For the getting all the tweets listed --> 


<div class ="tweet"> 
    <div style="width: 500px; ">
        <ol>
            {% for text in tweet%}
                <li>{{text}}</li>
            {% endfor %}
        </ol>
    </div>
    <div style="width: 500px; right:0cm; ">
        <ol>
            {% for text in preprocessed%}
                <li>{{text}}</li>
            {% endfor %}
        </ol>
    </div>
</div>


<div class ="tweet"> 
   
</div>

